/* CSS declarations go here */
*, body{
	margin:0;
}
.container{
	position: relative;
	margin: 50px 30% 0 30%;
}

.con_table{
		position: relative;
		margin: 50px 10% 0 10%;
}
.icon{
	cursor: pointer;
}
